body {
	margin: auto;
	font-size: 20px;
	line-height: 1.35;
	font-family: Helvetica, Arial, sans-serif;
}
 main {
	max-width: 600px;
	margin: auto;
}
 header {
	text-align: center;
}
 img {
	max-width: 100%;
}
 h1 {
	border-bottom: 5px solid black;
}
 h2 {
	color: #CE1141;
}
 .highlight {
	background-color: #CE1141;
	color: white;
	padding: 4px;
}
 footer {
	color: white;
	background-color: black;
	padding: 8px;
	text-align: right;
	font-size: 14px;
	line-height: 1;
} 
