html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
  color: #1EC7A2;
}

h1 {
  font-size: 40px;
}

img {
  max-width: 100%;
}

footer {
  height: 50px;
  background-color: #999;
  color: white;
  text-align: right;
  line-height: 50px;
  padding-right: 30px;
}

.container {
  max-width: 720px;
}

@media screen and (min-width: 720px) {
  .container {
    margin: 0 auto;
  }
}
